/* styles/default-styles.css */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%; 
}

main {
  display: flex;
  justify-content: center;
  height: 100%; 
  width: 100%;
}

#visualizer-container {
  display: flex;
  width: 100%;
}

#visualizer-canvas {
  flex: 1; /* Canvas takes up all available space */
  background: #000;
  height: 100%;
}

#controls {
  width: 300px; /* Fixed width for the control panel */
  background: #333;
  color: white;
  padding: 20px;
  /* overflow-y: auto; Add scroll if controls exceed the height */
}

section {
  margin-bottom: 20px;
}

label {
  margin-left: 10px;
}

button,
select {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
}

button:hover,
select:hover {
  cursor: pointer;
}
